@import "../App.sass"

@mixin respond($breakpoint) 
    @if($breakpoint == medium)  
      @media (max-width: 1100px)  
        @content 
    @if($breakpoint == msmall)  
      @media (max-width: 930px) 
        @content 
    @if($breakpoint == small)  
      @media (max-width: 700px) 
        @content 
    @if($breakpoint == xsmall)  
      @media (max-width: 500px) 
        @content 


b
    color: $mainColor


.container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    

 
// Button
// color: $mainColor
button
    display: flex
    background: white
    color: $mainColor
    height: 2rem
    width: auto
    border-radius: 1rem
    border: 2px solid $mainColor
    font-weight: bold
    padding: .5rem
    justify-content: center
    align-items: center
    cursor: pointer

button:hover
    background: $mainColor
    color: white

.search

    display: flex

    input
        background: white
        color: $mainColor
        border: 2px solid $mainColor
        border-radius: 1rem 0rem 0rem 1rem
        height: auto
        padding: .5rem 1rem
        font-size: 1.5rem
    
    
    button
   
        border-radius: 0rem 1rem 1rem 0rem
        border-left: none
        font-size: 1.5rem
        height: auto



.card-container
    display: flex
    width: 100%
    justify-content: center
    flex-wrap: wrap
    margin-bottom: 2rem
    

 
    .card
        width: 25%
        min-height: 42rem
        display: flex
        align-items: center
        margin: 1rem
        justify-content: flex-end
        flex-direction: column-reverse
        border-bottom: 1px solid lightgrey
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
        @include respond(medium)
            width: 40% 
            @include respond(small)
                width: 80% 
                height: 50rem
                @include respond(xsmall)
                    width: 100% 
                    height: 45rem
   

        .service-text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            font-size: 1.5rem
            margin: 1.5rem 0rem
            padding: .5rem
           
            

            p 
                margin: 2px
                font-size: 1.2rem
                line-break: none
    .edit-icon
        position: absolute
        margin-top: .5rem   
        display: flex
        font-size: 1.3rem
        justify-content: flex-start
        color: white  
        margin-left: 22% 
        @include respond(medium)
            margin-left: 37%
            @include respond(msmall)
                font-size: 1rem
                @include respond(small)
                    margin-left: 75% 
                    @include respond(xsmall)
                        margin-left: 88% 
   

    .service-img 
        display: flex
        width: 100%

   
        
       
        
       
        .type-img
            display: flex
            width: 100%
            justify-content: center
            
           
          
            
              

             
            




 

        
    
      
            

h1
    font-weight: bold

    
@media (max-width: 910px) 
    .card
        width: 80%
  