/* .service
    button
        margin: 0.3125em */


.swal2-actions 
    & > button
        margin: 0 1rem
        height: auto
        border: none

        &:first-child:hover            
            
            background: #8388A4

        &:nth-child(2):hover
            background: green
        
        &:nth-child(3):hover
            background: #ff4545
     



.container
    .card-container
        display: flex
        max-width: 62rem
        flex-wrap: wrap
        justify-content: center
        align-items: center
 
        .card
            width: 24rem
            display: flex
            flex-direction: row
            border-bottom: 1px solid lightgrey
            margin: 2rem
   

        .left
            width: 60%

        .right 
            width: 40%
            display: flex
            flex-direction: column
            align-items: center

        p
            flex-direction: column   

        
        button
            margin-top: .5rem
            width: 4.5rem
    
        .type-img
            height: 10rem
            width: 10rem
            border-radius: 50%
            margin-bottom: 1rem

h1
    font-weight: bold

    
